@import "../../../../assets/styles/styles.scss";

.discussion-page {
  //   margin: 0px 168px;
  max-width: 1010px;
  margin: 0 auto;
  .discussion-body {
    padding: 24px 16px 0px 16px;
    // subnav tabs
    .subnav {
      min-width: max-content;
      margin-right: 16px;
      button {
        font-weight: bold;
        @include basic-button;
        background-color: $bg-box-primary;
        padding-left: 16px;
        padding-right: 16px;
        border: none;
        &:hover {
          background-color: $bg-box-secondary;
        }
        &:nth-child(1) {
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        &:nth-child(2) {
          border-left: none;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
      .active {
        background-color: $bg-main;
        border: 1px solid $border-primary;
        border-radius: 5px;
      }
    }
    // discussion content
    .discussion-content {
      border: 1px solid $border-primary;
      border-radius: 6px;
      .content {
        margin: 0 auto;
        > div {
          padding: 80px 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 20px;
          svg {
            font-size: 20px;
            color: $color-muted;
          }
          p {
            color: $color-muted;
            span {
              color: $color-color-primary;
            }
          }
        }
      }
    }
  }
}
