@import "../../../../assets/styles/styles.scss";

.recommondedActivity {
  @include borderBox;
  .user-activity {
    display: flex;
    justify-content: space-between;
    color: $color-muted;
    > div {
      font-size: 14px;
    }
    .activity-user-profile {
      @include flex-align-center;
    }
  }

  // activity footer design
  .activity-footer {
    @include flex-align-center;
    column-gap: 25px;
  }
}
