@import "../../../../../assets/styles/styles.scss";

.trendings {
  .navbar {
    background-color: $bg-box-primary;
    .explore-navbar {
      max-width: 1010px;
      margin: auto;
      padding: 0px 16px;
    }
  }
  // trending repositories
  .trending-repositories {
    max-width: 1010px;
    margin: 40px auto;
    border-radius: 5px;
    border: 1px solid $border-primary;
    // subnav tabs
    .subnav {
      min-width: max-content;
      button {
        font-weight: bold;
        @include basic-button;
        background-color: $bg-box-primary;
        padding-left: 16px;
        padding-right: 16px;
        &:hover {
          background-color: $bg-box-secondary;
        }
        &:nth-child(1) {
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        &:nth-child(2) {
          border-left: none;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
      .active {
        background-color: $color-color-primary;
        &:hover {
          background-color: $color-color-primary;
        }
      }
    }
    // trending content
    .trending-content {
      background-color: $bg-box-primary;
      // content head
      .head {
        background-color: $bg-box-secondary;
        padding: 16px;
        border-bottom: 1px solid $border-primary;
        .trending-status {
          .text {
            color: white;
          }
          .icon svg {
            color: white;
            font-size: 16px;
          }
        }
        .filter-options {
          display: flex;
          column-gap: 30px;
          font-size: 13px;
          color: $color-muted;
          > div:hover {
            color: $color-primary;
            cursor: pointer;
          }
        }
      }
      // carts body
      .cart {
        > div {
          width: 100%;
          padding: 0px 16px 0px 16px;
          .description {
            max-width: 600px;
          }
          .sponsoor-btn {
            svg {
              color: #ff00aa;
              font-size: 20px;
            }
          }
          .repo-link {
            p {
              color: $color-color-primary;
            }
          }
          // cart footer
          .left-footer {
            column-gap: 15px;
            flex-wrap: wrap;
            button {
              column-gap: 5px;
            }
          }
        }
        &:nth-child(1) {
          padding-top: 10px;
        }
        &:last-child {
          padding-bottom: 10px;
        }
        .btn-icon {
          background-color: $bg-box-secondary;
          border: 1px solid $border-primary;
        }
      }
    }
  }
}
