@import "../../assets/styles/styles.scss";
.button {
  @include basic-button;
  background-color: $bg-box-secondary;
  width: max-content;
  padding: 5px 16px;
  border: 1px solid $border-primary;
  &:hover {
    border: 1px solid #8b949e;
    background-color: #30363d;
  }
}
