@import "../../../assets/styles/variables";
.installed-tabs {
  display: flex;
  li {
    list-style: none;
    border-bottom: 1px solid $border-primary;
    padding: 5px 15px;
    &:has(.active) {
      border-bottom: 1px solid transparent;
      border-left: 1px solid $border-primary;
      border-right: 1px solid $border-primary;
      border-top: 1px solid $border-primary;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    a {
      color: $color-muted;
      font-size: 14px;
    }
  }
}
