// font colors
$color-primary: white;
$color-muted: #848d97;
$color-color-primary: #2f81f7;

// background colors
$bg-main: #010409;
$bg-box-primary: #0d1117;
$bg-box-secondary: #1c222b;

$border-primary: #30363d;

// colors for scrollbars
$bg-scrollbar-thumb: #424242;
$bg-scrollbar-track: #686868;
